/**
* The Application css file.
*/
body {
	background: none repeat scroll 0 0 white;
	font-family: serif;
	font-size: 10pt;
	margin: 0;
	width: 100%;
}

.bg {
	width: 100%;
	background: url("../images/bg.png");
}

.header-logo {
	width: 280px;
	height: 31px;
	margin: auto;
	float: left;
}

.text-logo {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
	height: 50px;
	margin-top: 20px;
	width: 360px;
}

div#navigation {
	font-weight: bold;
}

div#navigation a {
	display: inline-block;
	width: 16px;
	height: 16px;
}

div#navigation .navSpan {
	display: inline-block;
	height: 16px;
	float: right;
	vertical-align: middle;
}

.tabular p {
	overflow: hidden;
}

.tabular label {
	font-weight: bold;
	float: left;
	text-align: right;
	width: 130px;
	padding-right: 3px;
}

.tabular span label {
	float: none;
}

.tabular input[type="text"] {
	min-width: 50%;
}

.tabular select {
	max-width: 50%;
}

/** H? CSS */
h1 {
	margin: 0px;
}

h2 {
	font-size: 20px;
	padding: 2px 10px 1px 0px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #BBB;
	color: #444;
}

h3 {
	font-size: 16px;
	padding: 2px 10px 1px 0px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #BBB;
	color: #444;
}

h4 {
	font-size: 14px;
	padding: 2px 10px 1px 0px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #BBB;
	color: #444;
}

/*=====================================================================================*/

/** uiLabel, uiTextarea, uiDropDown, uiCheckBox CSS */
.uiLabel {
	padding: 5px 0px;
}

.uiDropdown {
	width: 250px;
}

.uiTextbox,.uiDropdown {
	border: 1px solid #666666;
	padding: 1px 1px;
	height: 25px;
	width: 200px;
}

.uiTextarea {
	border: 1px solid #666666;
	padding: 1px;
	min-height: 50px;
	width: 250px;
}

.uiCheckbox {
	border: 1px solid #666666;
}

.short {
	width: 50px !important;
	min-width: 50px !important;
	max-width: 50px !important;
}

.short2 {
	width: 70px !important;
	min-width: 70px !important;
	max-width: 70px !important;
}

.medium {
	width: 100px !important;
	min-width: 100px !important;
	max-width: 100px !important;
}

.long {
	width: 150px !important;
	min-width: 150px !important;
	max-width: 150px !important;
}

/*=====================================================================================*/

/** error n sucess message css*/
.required,.error {
	color: #BB0000;
	padding-left: 2px;
	padding-right: 2px;
}

.error,.success {
	font-weight: bold;
	text-align: center;
}

.success {
	color: blue;
}

.hide {
	display: none;
}

.box {
	padding: 6px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	line-height: 1.5em;
	border: 1px solid #E4E4E4;
}

.wrapper {
	width: auto;
	margin: 0px;
}

.container-header {
	height: 60px;
	background: none repeat scroll 0 0 #F1F1F1;
	border: 1px solid #E5E5E5;
}

.wrapper .container-header {
	width: auto;
}

.wrapper .container-header .user-credentials {
	background: rgb(24, 23, 23);
	float: right;
	margin-right: 5px;
}

.wrapper .container-header .user-credentials ul {
	list-style: none;
	margin: 5px 0px;
	float: right;
}

.wrapper .container-header .user-credentials ul li {
	float: left;
	display: inline-block;
	padding: 0px 10px;
	border-right: 1px solid #fff;
}

.wrapper .container-header .user-credentials ul li:last-child {
	border-right: 0px;
}

.wrapper .container-header .user-credentials ul li a {
	color: #EDE90C;
	font-weight: bold;
}

.wrapper .container-header .user-credentials ul li a:hover {
	color: #fff;
}

.wrapper .container-header .user-credentials .welcome-text {
	color: #EEFECF;
	margin: 5px 0px auto 5px;
	font-family: sans-serif;
	font-size: 12px;
	width: 200px;
	float: left;
}

.wrapper .container-header .user-credentials .logout-text a {
	font-family: sans-serif;
	font-size: 12px;
	float: right;
	margin: 5px 15px auto auto;
	color: #C60A11;
	cursor: pointer;
}

.wrapper .container-header .status-msg {
	float: left;
	margin-top: 1%;
	margin-left: 10%;
	width: 40%;
	height: 30px;
	text-align: center;
	z-index: 100;
}

.wrapper .container-header .status-msg #errorMsg,.status-msg #systemMsg
	{
	margin-left: 30%;
	margin-right: 30%;
}

.status-msg #errorMsg,.status-msg #systemMsg {
	margin-left: 30%;
	margin-right: 30%;
}

.wrapper .content-dv {
	width: 100%;
	background: white;
	float: left;
}

.wrapper .content-dv .right-side-dv {
	width: 73%;
	margin: 10px;
	padding: 10px;
	float: left;
	border-radius: 15px;
	border: 1px solid #E5E5E5;
}

.wrapper .content-dv .left-side-dv {
	width: 20%;
	margin: 10px;
	border: 1px solid #E5E5E5;
	border-radius: 15px;
	padding: 10px;
	float: left;
	background: none repeat scroll 0 0 #F1F1F1;
}

/*=====================================================================================*/

/* Accordion css */
.accordion-dv {
	background: white;
	height: auto;
	width: auto;
}

.accordion-dv .item {
	border: 1px solid #DBDBDB;
	width: 98%;
	height: auto;
	padding-bottom: 5px;
}

.accordion-dv a {
	text-decoration: none;
	font-size: 12px;
}

.accordion-dv a:HOVER {
	text-decoration: underline;
	font-weight: bold;
}

/*=====================================================================================*/

/*
	CSS styles for the System Table
*/
.sysTable {
	margin-top: 5px;
	border-bottom: 1px solid #F0F0F0;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.sysTable th {
	text-align: left;
	border-bottom: 1px solid #F0F0F0;
	padding: 1px;
	white-space: nowrap;
	background-color: black;
	color: white;
}

.sysTable tr {
	height: 20px;
	cursor: pointer;
}

.sysTable tr.selected {
	background-color: #DDECFE;
	border: 1px solid #83AADA;
}

.sysTable td {
	padding: 1px;
	border-bottom: 1px solid #F0F0F0;
	white-space: nowrap;
	/* cursor: pointer; */
}

.sysTable .scrollContent {
	height: 200px;
	overflow: auto;
	width: 100%;
}

.sysTable .fixedHeader tr {
	
}

.sysTable tbody tr.alt td {
	background-color: #e4ecf7;
}

.sysTable tr:hover td,.sysTable tbody tr.alt:hover td {
	background-color: #bcd4ec;
	color: #000;
}

/*=====================================================================================*/

/*
	CSS styles for the record table
*/
.recordTable {
	margin-top: 5px;
	border-bottom: 1px solid #F0F0F0;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.recordTable th {
	text-align: left;
	border-bottom: 1px solid #F0F0F0;
	padding: 1px;
	white-space: nowrap;
	background: #BFD9BA;
	color: #444;
}

.recordTable tr {
	height: 20px;
	cursor: pointer;
}

.recordTable tr.selected {
	background-color: #DDECFE;
	border: 1px solid #83AADA;
}

.recordTable td {
	padding: 1px;
	border-bottom: 1px solid #F0F0F0;
	white-space: nowrap;
	border-bottom: solid 1px #DDD;
	vertical-align: top;
}

.recordTable .longtext-td {
	white-space: pre-wrap;
}

.recordTable .scrollContent {
	height: 200px;
	overflow: auto;
	width: 100%;
}

.recordTable .fixedHeader tr {
	
}

.recordTable tbody tr.alt td {
	background-color: #e4ecf7;
}

.recordTable tr.over td,.recordTable tbody tr.alt.over td {
	background-color: #bcd4ec;
	color: #000;
}

/*=====================================================================================*/

/*=====================================================================================*/
.header-link-dv span {
	width: auto;
	height: 16px;
	float: left;
	margin: 2px 5px;
	background-repeat: no-repeat;
	padding: 10px 0px 0px 20px;
}

.profile-dv {
	width: 99%;
	height: 120px;
	border: 1px solid rgb(17, 3, 3);
	background: rgb(48, 160, 133);
}

.profile-dv .profile-img {
	width: 80px;
	height: 80px;
	border: 1px solid #DBDBDB;
	margin: 5px;
	float: left;
}

.profile-dv .profile-content {
	float: left;
	margin: 5px;
}

.profile-dv .profile-content span {
	font-weight: bold;
}

/*=====================================================================================*/
.cpanel .menu {
	margin: 5px;
	height: 60px;
	width: 100px;
	border: 1px solid rgb(185, 185, 185);
	background: rgb(245, 245, 245);
	padding: 5px;
	float: left;
	border-radius: 15px;
}

.cpanel .menu a {
	color: black;
	text-align: center;
	text-decoration: none;
}

.cpanel .linktext {
	margin: 10px;
	font-size: 12px;
	font-weight: bold;
	width: 90px;
	display: block;
	margin: auto;
}

.cpanel span.panellink {
	width: 36px;
	height: 36px;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-right: 5px;
	display: block;
	margin: auto;
}

span.smallicon {
	background-size: contain;
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 2px;
}

/*=====================================================================================*/
span.footericon {
	/*background-size: contain;*/
	background-position: 0 50%;
	background-repeat: no-repeat;
	width: 50px;
	height: 100px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-bottom: 3px
}

.footer {
	background-color: #F1F1F1;
	border-top: 1px solid #CCCCCC;
	clear: both;
	display: block;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}

.footerlink a {
	color: #ff9b43;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	text-decoration: none;
}

#supportedby {
	background-image: url("../images/supportedby-ico.png");
	background-position: center;
	display: inline-block;
	height: 60px;
	padding-right: 30%;
	background-repeat: no-repeat;
}

/*=====================================================================================*/
.splitcontentright {
	float: right;
	width: auto;
}

.splitcontentleft {
	float: left;
	width: auto;
	margin-right: 10px;
}

/*=====================================================================================*/
.left_menu {
	float: left;
	width: 100%;
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.left_menu_lnk {
	background-repeat: repeat-x;
	width: 90%;
	padding: 10px 0px;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: solid 1px #E5E5E5;
	float: left;
	background-repeat: repeat-x;
}

.left_menu_lnk span,.left_menu_lnk a {
	color: #666666;
	font-family: Verdana;
	font-size: small;
	text-decoration: none;
}

.left_menu .left_menu_lnk img {
	float: left;
	margin-right: 10px;
	display: inline-block;
}

.left_menu .left_menu_lnk:HOVER {
	background: rgb(228, 230, 241);
}

.light-rounded-corners {
	border-radius: 5px;
}

/*=====================================================================================*/
.thick-rounded-corners {
	border: 2px solid;
	border-radius: 25px;
}

.post-owner-name {
	color: white;
	background-color: black;
	font-weight: bold;
}

.post-type {
	margin-left: 5px;
	color: white;
	background-color: black;
	font-weight: bold;
}

.post-date-time {
	margin-left: 5px;
	color: grey;
	background-color: white;
	font-weight: bold;
}

/*=====================================================================================*/
.spacedElement {
	margin-left: 10px;
}

.redText {
	color: red;
}

.arrow-right {
	width: 0;
	height: 0;
	border-bottom: 7px solid transparent; /*left arrow slant*/
	border-top: 7px solid transparent; /*right arrow slant*/
	border-left: 7px solid #2f2f2f; /*bottom, add background color here*/
	font-size: 0px;
	line-height: 0px;
	vertical-align: middle;
}

.blog-text {
	white-space: pre-wrap;
	margin-top: 0px;
	/* border: black solid; */
	vertical-align: text-top;
	display: block;
	width: 100%;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     